<lib-modal-base [title]="habit.title" [actives]="actives">
  <ng-container *ngIf="!loading(); else load">
    <div class="box">
      <div class="item" *ngFor="let weekDay of weekDays">{{ weekDay }}</div>
    </div>

    <div class="box">
      <div
        class="item tb"
        *ngFor="let day of days"
        [ngClass]="{
          active: day?.date === today,
        }"
        [pickItemByStatus]="day?.isComplete ?? null"
        nz-tooltip
        [nzTooltipTitle]="day?.date ?? ''"
        nzTooltipPlacement="rightTop"
        (click)="onDone(day)">
        {{ day?.date ?? '' | date: 'dd'}}
      </div>
    </div>
  </ng-container>
</lib-modal-base>

<ng-template #actives>
  <div class="flex justify-end gap-1.5 ml-auto mt-3">
    <lib-button type="danger" (click)="close()">Редактировать</lib-button>
    <lib-button
      [disabled]="
        !selectedDay || selectedDay.isComplete == null || loading()
      "
      (click)="save()"
      >Сохранить</lib-button
    >
  </div>
</ng-template>

<ng-template #load>
  <lib-load [isLoading]="loading()"></lib-load>
</ng-template>
