<app-modal-base [title]="data.name" [actives]="actives">
  <ng-container *ngIf="!loading(); else load">
    <div class="box">
      <div class="item" *ngFor="let weekDay of weekDays">{{ weekDay }}</div>
    </div>
    <div class="box">
      <div
              class="item tb"
              *ngFor="let day of data.days"
              [ngClass]="{
        active: day?.active,
        pickable:
          day?.date === today && day?.status === HabitCalendarStatus.Clean
      }"
              [pickItemByStatus]="day.status"
              nz-tooltip
              [nzTooltipTitle]="day.date"
              nzTooltipPlacement="rightTop"
              [nzTooltipTrigger]="day?.active ? 'hover' : null"
              (click)="onDone(day)"
      >
        {{ day.numDay }}
      </div>
    </div>
  </ng-container>
</app-modal-base>

<ng-template #actives>
  <div class="flex justify-end gap-1.5 ml-auto mt-3">
    <app-button type="danger" (click)="close()">{{
      'base.cancel' | translate
    }}</app-button>
    <app-button
      [disabled]="
        !selectedDay || selectedDay.status === HabitCalendarStatus.Clean || loading()
      "
      (click)="save()"
      >{{ 'base.save' | translate }}</app-button
    >
  </div>
</ng-template>

<ng-template #load>
  <lib-load [isLoading]="loading()"></lib-load>
</ng-template>
