<nz-tabset>
  <nz-tab [nzTitle]="'Активный'">
    <div class="tab-header">
      <lib-button
        *ngIf="viewType === 'interactive'"
        style="width: 110px"
        [animation]="!habits.length ? 'pulse' : ''"
        (click)="addHabit()"
      >Добавить привычку
      </lib-button>
    </div>
    <app-habit-view-content
      [habits]="allHabits.active"
      [viewType]="viewType"
    ></app-habit-view-content>
  </nz-tab>
  <nz-tab [nzTitle]="'История'">
    <div class="tab-header">
      <nz-range-picker
        [ngModel]="[calendar.startDate, calendar.endDate]"
        (ngModelChange)="changeDate($event)"
      ></nz-range-picker>
    </div>

    <app-habit-view-content
      [habits]="allHabits.overdue"
      [viewType]="'show'"
    ></app-habit-view-content>
  </nz-tab>
</nz-tabset>
