<lib-modal-base
        *ngIf="!loading(); else load"
        [title]="type === 'signIn' ? 'Войти' : 'Зарегистрироваться'"
>
  <ng-container [formGroup]="form">
    <ng-container *ngIf="type === 'signUp'">
      <lib-input [config]="configs[0]" [form]="form"></lib-input>
      <lib-input class="my-3" [config]="configs[1]" [form]="form"></lib-input>
    </ng-container>

    <lib-input [config]="configs[2]" [form]="form"></lib-input>

    <div class="my-3 relative">
      <ng-container *ngIf="type === 'signIn'">
        <span
          class="absolute right-0 top-1 cursor-pointer font-semibold text-xs"
          (click)="onRecoveryPassword()"
          >Forgot password</span
        >
      </ng-container>
      <lib-input [config]="configs[3]" [form]="form"></lib-input>
    </div>

    <lib-button [disabled]="form.invalid" (click)="sign(type)">{{
        type === 'signIn' ? 'Войти' : 'Зарегистрироваться'
    }}</lib-button>

    <div class="text-xs text-center" [ngSwitch]="type">
      <ng-container *ngSwitchCase="'signIn'">
        У вас еще нет учетной записи?
        <span
          class="cursor-pointer font-semibold"
          (click)="openLogin('signUp')"
          >Бесплатная регистрация</span
        >
      </ng-container>
      <ng-container *ngSwitchCase="'signUp'">
        У вас есть аккаунт?
        <span
          class="cursor-pointer font-semibold"
          (click)="openLogin('signIn')"
          >Войти</span
        >
      </ng-container>
    </div>
  </ng-container>
</lib-modal-base>

<ng-template #load>
  <lib-load [isLoading]="loading()"></lib-load>
</ng-template>
