<app-modal-base [title]="type === 'signIn' ? 'Sign In' : 'Sign Up'">
    <ng-container [formGroup]="form">
        <ng-container *ngIf="type === 'signUp'">
            <app-input [config]="configs[0]" [form]="form"></app-input>
            <app-input class="my-5" [config]="configs[1]" [form]="form"></app-input>
        </ng-container>

        <app-input [config]="configs[2]" [form]="form"></app-input>
        <app-input class="mt-5" [config]="configs[3]" [form]="form"></app-input>
        <span class="text-xs mt-2 mb-5 cursor-pointer">Forgot Password?</span>

        <app-button [disabled]="form.invalid" (click)="sign()">Sign {{type === 'signIn' ? 'in' : 'up'}}</app-button>

        <span class="text-xs text-center my-5">or continue with</span>

        <app-button type="insta" class="mb-5">
            <span class="icon icon-instagram text-white"></span>
        </app-button>

        <div class="text-xs text-center" [ngSwitch]="type">
            <ng-container *ngSwitchCase="'signIn'">
                Don’t have an account yet? <span class="cursor-pointer font-semibold" (click)="openLogin('signUp')">Register for free</span>
            </ng-container>
            <ng-container *ngSwitchCase="'signUp'">
                Have you an account? <span class="cursor-pointer font-semibold" (click)="openLogin('signIn')">Sign in</span>
            </ng-container>
        </div>
    </ng-container>
</app-modal-base>
