<div class="container text-white" [formGroup]="form">
    <h1 class="text-2xl mb-6">{{type === 'signIn' ? 'Sign In' : 'Sign Up'}}</h1>

    <ng-container *ngIf="type === 'signUp'">
        <div class="flex flex-col">
            <div class="flex gap-0.5">
                <span>First Name</span>
                <span class="text-red-500">*</span>
            </div>
            <input class="rounded-md text-sm" type="text" placeholder="Zhannur" autocomplete="off" [formControlName]="'name'">
        </div>

        <div class="flex flex-col my-5">
            <div class="flex gap-0.5">
                <span>Last Name</span>
                <span class="text-red-500">*</span>
            </div>
            <input class="rounded-md text-sm" type="text" placeholder="Akhmetkhanov" autocomplete="off" [formControlName]="'lastName'">
        </div>
    </ng-container>
    <div class="flex flex-col">
        <div class="flex gap-0.5">
            <span>Email</span>
            <span class="text-red-500">*</span>
        </div>
        <input class="rounded-md text-sm" type="email" placeholder="username@gmail.com" autocomplete="off" [formControlName]="'email'">
    </div>


    <div class="flex flex-col my-5">
        <div class="flex gap-0.5">
            <span>Password</span>
            <span class="text-red-500">*</span>
        </div>
        <input class="rounded-md" type="password" placeholder="Password" [formControlName]="'password'">
        <span class="text-xs mt-2 cursor-pointer">Forgot Password?</span>
    </div>

    <app-button [disabled]="form.invalid" (click)="sign()">Sign {{type === 'signIn' ? 'in' : 'up'}}</app-button>

    <span class="text-xs text-center my-5">or continue with</span>

    <app-button type="insta" class="mb-5">
        <span class="icon icon-instagram text-white"></span>
    </app-button>

    <div class="text-xs text-center" [ngSwitch]="type">
        <ng-container *ngSwitchCase="'signIn'">
            Don’t have an account yet? <span class="cursor-pointer font-semibold" (click)="openLogin('signUp')">Register for free</span>
        </ng-container>
        <ng-container *ngSwitchCase="'signUp'">
            Have you an account? <span class="cursor-pointer font-semibold" (click)="openLogin('signIn')">Sign in</span>
        </ng-container>
    </div>
</div>
