<app-modal-base [title]="(type === 'signIn' ? 'auth.signIn' : 'auth.signUp') | translate">
    <ng-container [formGroup]="form">
        <ng-container *ngIf="type === 'signUp'">
            <app-input [config]="configs[0]" [form]="form"></app-input>
            <app-input class="my-5" [config]="configs[1]" [form]="form"></app-input>
        </ng-container>

        <app-input [config]="configs[2]" [form]="form"></app-input>
        <app-input class="mt-5" [config]="configs[3]" [form]="form"></app-input>
        <span class="text-xs mt-2 mb-5 cursor-pointer">{{'auth.forgotPassword' | translate}}?</span>

        <app-button [disabled]="form.invalid" (click)="sign()">{{(type === 'signIn' ? 'auth.signIn' : 'auth.signUp') | translate}}</app-button>

        <span class="text-xs text-center my-5">{{ "auth.continueWith" | translate }}</span>

        <app-button type="insta" class="mb-5">
            <span class="icon icon-instagram text-white"></span>
        </app-button>

        <div class="text-xs text-center" [ngSwitch]="type">
            <ng-container *ngSwitchCase="'signIn'">
                {{"auth.noHaveAcc" | translate}}? <span class="cursor-pointer font-semibold" (click)="openLogin('signUp')">{{ "auth.registerFree" | translate }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'signUp'">
                {{"auth.haveAcc" | translate}}? <span class="cursor-pointer font-semibold" (click)="openLogin('signIn')">{{ "auth.signIn" | translate }}</span>
            </ng-container>
        </div>
    </ng-container>
</app-modal-base>
