:host {
  z-index: 1;
  flex: 1;
}

.left {
  flex: 0.35;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .avatar {
    position: relative;

    app-button {
      position: absolute;
      bottom: 5px;
      width: 100px;
    }
  }
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}
