<nav class="mx-auto max-w-6xl h-16 flex justify-between items-center text-white">
    <h1 class="text-4xl font-bold cursor-pointer" (click)="goToMainPage()">Habit</h1>

    <div class="space-x-4 flex">
        <ng-container *ngIf="isAuth$ | async; else active">
            <button mat-button class="pulse success font-semibold" (click)="addHabit()">Add habit</button>
            <img class="photo" src="https://media.licdn.com/dms/image/D4D03AQEDKKK8u_QR-w/profile-displayphoto-shrink_100_100/0/1693367601823?e=1698883200&v=beta&t=l5TctZTlFFgltBW6vs7znOFRxWGvF-0Js_NO5hGo7Lw">
        </ng-container>
    </div>
</nav>

<ng-template #active>
    <span (click)="openLogin()" class="cursor-pointer">Sign in</span>
    <span (click)="openLogin('signUp')" class="cursor-pointer">Sign up</span>
</ng-template>
