<nav class="mx-auto max-w-6xl h-16 flex justify-between items-center text-white">
    <h1 class="text-4xl font-bold cursor-pointer" (click)="goToMainPage()">Habit</h1>

    <div class="space-x-4">
        <ng-container *ngIf="isAuth$ | async; else active">
            <button mat-button class="pulse success font-semibold">Add habit</button>
        </ng-container>
    </div>
</nav>

<ng-template #active>
    <span (click)="openLogin()" class="cursor-pointer">Sign in</span>
    <span (click)="openLogin('signUp')" class="cursor-pointer">Sign up</span>
</ng-template>
