<nav class="mx-auto max-w-6xl h-16 flex justify-between items-center text-white">
    <h1 class="text-4xl font-bold cursor-pointer" (click)="goToMainPage()">Habit</h1>

    <div class="space-x-4 flex">
        <ng-container *ngIf="isAuth$ | async; else active">
            <span class="flex items-center cursor-pointer" routerLink="/change">{{"habit.habits" | translate}}</span>
            <img routerLink="/user" class="photo" [src]="user.img">
        </ng-container>
    </div>
</nav>

<ng-template #active>
    <span (click)="openLogin()" class="cursor-pointer">{{ 'auth.signIn' | translate }}</span>
    <span (click)="openLogin('signUp')" class="cursor-pointer">{{ 'auth.signUp' | translate }}</span>
</ng-template>
