<img
        routerLink="/user"
        class="photo"
        [src]="user.img"
        alt="user photo"
>

<ng-container *ngIf="showMenu">
    <div class="menu">
        <div class="menu-top"></div>
        <div class="menu-content">
            <div>
                <img routerLink="/user" class="photo" [src]="user.img" alt="user photo">
                <div>{{user.firstName + ' ' + user.lastName}}</div>
            </div>
            <app-button routerLink="/user" class="mb-2">View Profile</app-button>
            <hr>
            <mat-form-field class="my-2">
                <mat-label>Language</mat-label>
                <mat-select [(value)]="selectedLang" (valueChange)="selectLang($event)" (openedChange)="openedSelect=$event">
                    <mat-option *ngFor="let lang of langs" [value]="lang.id">
                        {{lang.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <hr>
            <app-button class="mt-2" type="danger">Logout</app-button>
        </div>
    </div>
</ng-container>
