<lib-modal-base [title]="'Создать привычку'" [actives]="actives">
  <ng-container *ngIf="!loading(); else load" [formGroup]="form">
    <lib-input [config]="inputConfigs[0]" [form]="form"></lib-input>
    <lib-input
      class="mt-3"
      [config]="inputConfigs[1]"
      [form]="form"
    ></lib-input>

    <div class="flex flex-col">
      <span>Дата начала</span>
      <nz-date-picker formControlName="startDate"></nz-date-picker>
    </div>

    <div class="flex flex-col my-3">
      <span>Дата окончания</span>
      <nz-date-picker formControlName="endDate"></nz-date-picker>
    </div>
  </ng-container>
</lib-modal-base>

<ng-template #actives>
  <lib-button type="danger" (click)="onClose()">Отмена</lib-button>
  <lib-button [disabled]="form.invalid || loading()" (click)="onSubmit()">{{
    type === 'create' ? 'Создать' : 'Редактировать'
  }}</lib-button>
</ng-template>

<ng-template #load>
  <lib-load [isLoading]="loading()"></lib-load>
</ng-template>
