<app-modal-base [title]="'habit.create' | translate" [actives]="actives">
  <ng-container *ngIf="!loading(); else load" [formGroup]="form">
    <lib-input [config]="inputConfigs[0]" [form]="form"></lib-input>
    <lib-input
      class="mt-5"
      [config]="inputConfigs[1]"
      [form]="form"
    ></lib-input>

    <div class="flex items-center my-4">
      <span>{{ 'base.hide' | translate }}</span>
      <mat-checkbox formControlName="isHide"></mat-checkbox>
    </div>

    <div class="flex flex-col">
      <span>{{ 'date.start' | translate }}</span>
      <nz-date-picker formControlName="startDate"></nz-date-picker>
    </div>

    <div class="flex flex-col my-4">
      <span>{{ 'date.end' | translate }}</span>
      <nz-date-picker formControlName="endDate"></nz-date-picker>
    </div>
  </ng-container>
</app-modal-base>

<ng-template #actives>
  <app-button type="danger" (click)="onClose()">{{
    'base.cancel' | translate
  }}</app-button>
  <app-button [disabled]="form.invalid || loading()" (click)="onSubmit()">{{
    (type === 'create' ? 'base.create' : 'base.edit') | translate
  }}</app-button>
</ng-template>

<ng-template #load>
  <lib-load [isLoading]="loading()"></lib-load>
</ng-template>
