<div class="page-box">
  <ng-container *ngIf="!loading(); else load">
    <p>Изменить пароль от аккаунта</p>
    <p class="mb-3.5">{{ email() }}</p>

    <lib-input
            *ngFor="let config of configs()"
            [config]="config"
            [form]="form()"
    ></lib-input>

    <lib-button
            class="mt-3"
            [disabled]="form().invalid || !isPasswordCoincide()"
            (click)="save()"
    >Изменить пароль</lib-button>
  </ng-container>
</div>

<ng-template #load>
  <lib-load [isLoading]="loading()"></lib-load>
</ng-template>
