<div class="box flex flex-col max-w-6xl mx-auto">
    <div *ngFor="let habit of habits()" class="h-14 habit font-semibold cursor-pointer" (click)="onDone(habit)">
        <div>
            <div>{{ habit.name }}</div>
            <div>{{ habit.description}}</div>
        </div>

        <div class="flex items-center gap-2.5">
            <div>{{ habit.count }}/{{ countTotalDay(habit) }}</div>
            <button mat-icon-button [matMenuTriggerFor]="menu" (click)="onSelectHabit(habit)"><mat-icon>more_vert</mat-icon></button>
        </div>
    </div>
    <div *ngIf="!habits().length" class="flex-1 flex flex-col justify-center items-center text-white">
        <span>No Habits</span>
        <span>Add your first habit</span>
    </div>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onEdit()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
    </button>

    <button mat-menu-item (click)="onDelete()">
        <mat-icon>delete_outline</mat-icon>
        <span>Remove</span>
    </button>
</mat-menu>
