:host {
  flex: 1;
}
.box {
  height: 95%;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, .5);
  backdrop-filter: blur(20px);
}

.habit {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  padding-left: 15px;
  color: white;
  backdrop-filter: blur(20px);
}
