<div class="page-box flex max-w-6xl mx-auto text-white p-6 gap-6">
  <ng-container *ngIf="!loading(); else load">
    <div *ngIf="user$ | async; let user" class="left">
      <div class="avatar">
        <lib-avatar
          [text]="user.firstName[0] + ' ' + user.lastName[0]"
          [src]="userImgBase64"
          [size]="207"
        ></lib-avatar>
        <lib-button
          [view]="'border'"
          [customStyle]="'white'"
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="menu"
        >
          <span nz-icon nzType="edit" nzTheme="outline"></span>
          Редактировать
        </lib-button>

        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="photoInput.click()">Загрузить фото</li>
            <li nz-menu-item (click)="removeImg(user?.imageUrl!)">Удалить фото</li>
          </ul>
        </nz-dropdown-menu>
        <input
          #photoInput
          type="file"
          accept="image/*"
          (change)="onSelectedAvatar(user, photoInput.files)"
        />
      </div>

      <h1 class="font-extrabold">{{ user.firstName + ' ' + user.lastName }}</h1>

      <lib-button
              *ngIf="!user.isEmailConfirmed"
              routerLink="/auth/verifyEmail"
              [type]="'insta'"
              [view]="'border'"
              [customStyle]="'white'">
        <span [ngStyle]="{ color: 'white' }">Подвердить почту</span>
      </lib-button>

      <lib-button (click)="openEditModal(user)">Редактировать профиль</lib-button>
    </div>
    <div class="right">
      <app-habit-view [allHabits]="habits" [viewType]="'show'"></app-habit-view>
    </div>
  </ng-container>
</div>

<ng-template #load>
  <lib-load [isLoading]="loading()"></lib-load>
</ng-template>
