<div class="flex justify-between items-center mt-2.5 mr-2.5 mb-2.5 h-14">
    <div class="flex gap-1.5 font-bold ml-3">
        <h2
                class="cursor-pointer"
                [ngStyle]="{color: type === HabitViewEnum.Active ? 'white' : 'grey'}"
                (click)="onChangeViewType(HabitViewEnum.Active)"
        >{{ 'base.active' | translate }}</h2>

        <h2
                class="cursor-pointer"
                [ngStyle]="{color: type === HabitViewEnum.History ? 'white' : 'grey'}"
                (click)="onChangeViewType(HabitViewEnum.History)"
        >{{ 'base.history' | translate }}</h2>
    </div>
    <app-button
            *ngIf="type === HabitViewEnum.Active && viewType === 'interactive'"
            style="width: 110px"
            [animation]="!habits.length ? 'pulse' : ''"
            (click)="addHabit()"
    >
        {{ "habit.add" | translate}}
    </app-button>

    <mat-form-field *ngIf="type === HabitViewEnum.History">
        <mat-label>{{"date.range" | translate}}</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [placeholder]="'date.start' | translate" (dateChange)="onChangeDate($event, 'startDate')">
            <input matEndDate [placeholder]="'date.end' | translate" (dateChange)="onChangeDate($event, 'endDate')">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
</div>
<div
        *ngFor="let habit of habits"
        class="habit h-14 font-semibold"
        [ngClass]="{'cursor-pointer': viewType === 'interactive'}"
        (click)="onDone(habit)"
>
    <div>
        <div>{{ habit.name }}</div>
        <div>{{ habit.description }}</div>
    </div>

    <div class="flex items-center gap-2.5">
        <div>{{ habit.count }} / {{ countTotalDay(habit) }}</div>

        <ng-container *ngIf="viewType === 'interactive'">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onEdit(habit)">
                    <mat-icon>edit</mat-icon>
                    <span>{{"base.edit" | translate}}</span>
                </button>

                <button mat-menu-item (click)="onDelete(habit)">
                    <mat-icon>delete_outline</mat-icon>
                    <span>{{"base.rm" | translate}}</span>
                </button>
            </mat-menu>
        </ng-container>
    </div>
</div>

<div *ngIf="!habits.length" class="flex-1 flex flex-col justify-center items-center text-white">
    <span>{{"habit.no" | translate}}</span>
    <span *ngIf="viewType === 'interactive'">{{"habit.addFirst" | translate}}</span>
</div>
