<div class="page-box">
  <ng-container *ngIf="!loading(); else load">
    <p>Вы почти закончили!</p>
    <p class="mb-3">Мы отправили код на {{ email() }}</p>

    <lib-input [form]="form()" [config]="config()"></lib-input>

    <div class="text-xs text-center">
      Код не пришел?
      <span class="cursor-pointer font-semibold" (click)="tryAgain()"
      >Отправь еще раз</span
      >
    </div>
  </ng-container>
</div>

<ng-template #load>
  <lib-load [isLoading]="loading()"></lib-load>
</ng-template>
