<div class="page-box">
  <ng-container *ngIf="!loading(); else load">
    <p>You're almost done!</p>
    <p class="mb-3">We sent a launch code to {{ email() }}</p>

    <lib-input [form]="form()" [config]="config()"></lib-input>

    <div class="text-xs text-center">
      The code didn't arrive?
      <span class="cursor-pointer font-semibold" (click)="tryAgain()"
      >Send again</span
      >
    </div>
  </ng-container>
</div>

<ng-template #load>
  <lib-load [isLoading]="loading()"></lib-load>
</ng-template>
