<div class="page-box">
  <ng-container *ngIf="!loading(); else load">
    <ng-container *ngIf="!isSent(); else result">
      <p>Сбросить пароль</p>
      <p class="text-xs mb-1.5">
        Введите подтвержденный адрес электронной почты вашей учетной записи, и мы вышлем вам письмо
        ссылка для сброса пароля
      </p>

      <lib-input [form]="form()" [config]="config()"></lib-input>

      <lib-button
        class="mt-3"
        [disabled]="form().invalid"
        (click)="sent()"
        >Отправить письмо для сброса пароля</lib-button
      >
    </ng-container>
  </ng-container>
</div>

<ng-template #result>
  <lib-result status="success" title="Message sent to email" message="Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder">
    <lib-button routerLink="/">Вернуться, чтобы войти</lib-button>
  </lib-result>
</ng-template>

<ng-template #load>
  <lib-load [isLoading]="loading()"></lib-load>
</ng-template>
