<div class="page-box">
  <ng-container *ngIf="!loading(); else load">
      <p>Сбросить пароль</p>
      <p class="text-xs mb-1.5">
        Введите подтвержденный адрес электронной почты вашей учетной записи, и мы вышлем вам письмо
        ссылка для сброса пароля
      </p>

      <lib-input [form]="form()" [config]="config()"></lib-input>

      <lib-button
        class="mt-3"
        [disabled]="form().invalid"
        (click)="sent()"
        >Отправить письмо для сброса пароля</lib-button
      >
  </ng-container>
</div>

<ng-template #load>
  <lib-load [isLoading]="loading()"></lib-load>
</ng-template>
