<div class="page-box">
  <ng-container *ngIf="!loading(); else load">
    <ng-container *ngIf="!isSent(); else result">
      <p>Reset your password</p>
      <p class="text-xs mb-1.5">
        Enter your user account's verified email address and we will send you a
        password reset link
      </p>

      <app-input [form]="form()" [config]="config()"></app-input>

      <app-button
        class="mt-3.5"
        [disabled]="form().invalid"
        (click)="sent()"
        >Send password reset email</app-button
      >
    </ng-container>
  </ng-container>
</div>

<ng-template #result>
  <lib-result status="success" title="Message sent to email" message="Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder">
    <app-button routerLink="/">Return to sign in</app-button>
  </lib-result>
</ng-template>

<ng-template #load>
  <lib-load [isLoading]="loading()"></lib-load>
</ng-template>
