<app-modal-base [title]="'user.edit' | translate" [actives]="actives">
  <ng-container *ngIf="!loading(); else load">
    <app-input
            *ngFor="let config of userInputConfigs; let ind = index"
            [config]="config"
            [form]="form"
            [ngClass]="{ 'my-5': ind > 0 }"
    ></app-input>
  </ng-container>
</app-modal-base>

<ng-template #actives>
  <app-button type="danger" (click)="onClose()">{{
    'base.cancel' | translate
  }}</app-button>
  <app-button [disabled]="form.invalid || !isEdit || loading()" (click)="onSave()">{{
    'base.save' | translate
  }}</app-button>
</ng-template>

<ng-template #load>
  <lib-load [isLoading]="loading()"></lib-load>
</ng-template>
