<app-modal-base [title]="'user.edit' | translate" [actives]="actives">
  <app-input
    *ngFor="let config of userInputConfigs; let ind = index"
    [config]="config"
    [form]="form"
    [ngClass]="{ 'my-5': ind > 0 }"
  ></app-input>

  <div class="flex flex-col">
    <span>{{ 'base.photo' | translate }}</span>
    <input
      #photoInput
      class="rounded-md text-sm"
      type="file"
      accept="image/*"
      (change)="onPhotoChange()"
    />
  </div>

  <div class="mx-auto my-5">
    <app-avatar
      [text]="data.firstName[0] + ' ' + data.lastName[0]"
      [src]="form.get('img')?.value"
      [size]="207"
    ></app-avatar>
  </div>
</app-modal-base>

<ng-template #actives>
  <app-button type="danger" (click)="onClose()">{{
    'base.cancel' | translate
  }}</app-button>
  <app-button [disabled]="form.invalid || !isEdit" (click)="onSave()">{{
    'base.save' | translate
  }}</app-button>
</ng-template>
