:host {
  width: 100%;
  display: block;
  white-space: nowrap;
}

button {
  width: 100%;

  &.border {
    background-color: transparent;
    height: 30px !important;
    font-weight: 400;
  }
}

.pulse {
  position: relative;

  &:after,
  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--cl-success);
    z-index: -1;
    opacity: 0.7;
  }

  &:after {
    animation: pulse 2s ease-out infinite;
  }

  &:before {
    animation: pulse 2s 1s ease-out infinite;
  }
}

@keyframes pulse {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

button[disabled] {
  opacity: 0.5;
}

.success{
  &.basic {
    background-color: var(--cl-success) !important;
    color: white !important;
  }
  &.border:not(.white) {
    color: var(--cl-success);
    border: 2px solid var(--cl-success);
  }
  &.border.white {
    color: white;
    border: 1px solid white;
  }
}

.danger {
  &.basic {
    background-color: var(--cl-danger) !important;
    color: white !important;
  }

  &.border {
    color: var(--cl-danger);
    border: 2px solid var(--cl-danger);
  }
}

.insta {
  background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
