:host {
  display: block;
  height: 100vh;
  width: 100vw;
  background: transparent;
  backdrop-filter: blur(20px);
}

.create {
  margin-left: auto;
  display: block;
  background-color: rgb(101 163 13);
  color: white !important;
}
