<nav
  class="mx-auto max-w-6xl h-16 flex justify-between items-center text-white px-4 xl:px-0"
>
  <h1 class="text-4xl font-bold cursor-pointer" (click)="goToMainPage()">
    Habit
  </h1>

  <div class="space-x-4 flex">
    <ng-container *ngIf="user$ | async; else active">
      <span class="flex items-center cursor-pointer" routerLink="/change">Привычки</span>
      <app-dropdown-menu></app-dropdown-menu>
    </ng-container>
  </div>
</nav>

<ng-template #active>
  <span (click)="openLogin()" class="cursor-pointer">Войти</span>
  <span (click)="openLogin('signUp')" class="cursor-pointer">Зарегистрироваться</span>
</ng-template>
