<img
        routerLink="/user"
        class="photo"
        [src]="user.img"
        alt="user photo"
        (click)="showMenu = false"
>

<ng-container *ngIf="showMenu">
    <div @show class="menu">
        <div class="menu-top"></div>
        <div class="menu-content">
            <div>
                <img routerLink="/user" class="photo" [src]="user.img" alt="user photo">
                <div>{{user.firstName + ' ' + user.lastName}}</div>
            </div>
            <app-button routerLink="/user" class="mb-2" [view]="'border'">View Profile</app-button>
            <hr>
            <nz-select class="my-2" [(ngModel)]="selectedLang" (ngModelChange)="selectLang($event)" (nzOpenChange)="openedSelect = $event">
                <nz-option *ngFor="let lang of langs" [nzValue]="lang.id" [nzLabel]="lang.name"></nz-option>
            </nz-select>
            <hr>
            <app-button class="mt-2" type="danger" [view]="'border'" (click)="logout()">Logout</app-button>
        </div>
    </div>
</ng-container>
