/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url("assets/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url("assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url("assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url("assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url("assets/fonts/Montserrat-Bold.ttf");
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}