<lib-avatar
  routerLink="/user"
  [text]="user.firstName[0] + ' ' + user.lastName[0]"
  [src]="user?.imageUrl ?? ''"
  (click)="showMenu = false"
></lib-avatar>

<ng-container *ngIf="showMenu">
  <div @show class="menu">
    <div class="menu-top"></div>
    <div class="menu-content">
      <div>
        <lib-avatar
          routerLink="/user"
          [text]="user.firstName[0] + ' ' + user.lastName[0]"
          [src]="user?.imageUrl ?? ''"
          (click)="showMenu = false"
        ></lib-avatar>
        <div>{{ user.firstName + ' ' + user.lastName }}</div>
      </div>
      <lib-button routerLink="/user" class="mb-2" [view]="'border'"
        >View Profile</lib-button
      >
      <hr />
      <nz-select
        class="my-2"
        [(ngModel)]="selectedLang"
        (ngModelChange)="selectLang($event)"
        (nzOpenChange)="openedSelect = $event"
      >
        <nz-option
          *ngFor="let lang of langs"
          [nzValue]="lang.id"
          [nzLabel]="lang.name"
        ></nz-option>
      </nz-select>
      <hr />
      <lib-button
        class="mt-2"
        type="danger"
        [view]="'border'"
        (click)="logout()"
        >Logout</lib-button
      >
    </div>
  </div>
</ng-container>
