<lib-avatar
  routerLink="/user"
  [text]="user.firstName[0] + ' ' + user.lastName[0]"
  [src]="userImg"
  (click)="showMenu = false"
></lib-avatar>

<ng-container *ngIf="showMenu">
  <div @show class="menu">
    <div class="menu-top"></div>
    <div class="menu-content">
      <div>
        <lib-avatar
          routerLink="/user"
          [text]="user.firstName[0] + ' ' + user.lastName[0]"
          [src]="userImg"
          (click)="showMenu = false"
        ></lib-avatar>
        <div>{{ user.firstName + ' ' + user.lastName }}</div>
      </div>
      <lib-button routerLink="/user" class="mb-2" [view]="'border'"
        >Профиль</lib-button
      >
      <hr />
      <lib-button
        class="mt-2"
        type="danger"
        [view]="'border'"
        (click)="logout()"
        >Выход</lib-button
      >
    </div>
  </div>
</ng-container>
